@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: theme('colors.mainBlue');
}

/*========== Font ==========*/

h1 {
  font-family: var(--font-licorice);
  font-size: 5rem;
}

h2 {
  font-family: var(--font-dmmsans);
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 2.5rem;
  color: theme('colors.dark');
}

h3 {
  font-family: var(--font-dmserif);
  font-size: 1.5rem;
  line-height: 1.75rem;
  color: theme('colors.darkBlue');
}

p {
  line-height: 2rem;
  color: theme('colors.dark600');
}

@media screen and (min-width: 968px) {
  h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 3rem;
    line-height: 3rem;
  }

  h3 {
    font-size: 1.75rem;
    line-height: 2rem;
    font-weight: 100;
  }

  p {
    font-size: 1.125rem;
    line-height: 2.2rem;
    font-weight: 300;
  }
}

/*========== Elements ==========*/

main {
  padding: 0 2rem;
}

section {
  padding: 4rem 0 2rem;
}

button {
  background-color: theme('colors.dark');
  padding: 1rem 2rem;
  border-radius: 2rem;
  color: theme('colors.lightBlue');
  transition: .4s;
  cursor: pointer;
}

button:hover {
  background-color: theme('colors.darkBlue');
}

@media screen and (min-width: 968px) {
  main {
    max-width: 968px;
    margin: 0 auto;
  }
}

/*========== HEADER ==========*/

header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: fixed;
}

nav {
  position: fixed;
  background-color: theme('colors.mainBlue');
  top: -100%;
  left: 0;
  width: 100%;
  padding: 6rem 0 4rem;
  transition: top .4s;
}

nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

nav li {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 600;
}

.menu-toggle,
.logo {
  cursor: pointer;
  z-index: 1000;
}

@media screen and (min-width: 968px) {
  header {
    background-color: theme('colors.mainBlue');
    padding: 1rem 8rem;
  }

  nav {
    top: 0;
    padding: 0;
    position: relative;
    width: fit-content;
    background-color: transparent;
  }

  nav ul {
    flex-direction: row;
    gap: 3rem;
  }

  nav li {
    font-size: 1rem;
    text-transform: capitalize;
    font-weight: 400;
    cursor: pointer;
    transition: .2s;
  }

  nav li:hover {
    color: theme('colors.light');
  }

  .menu-toggle {
    display: none;
  }
}

/*========== SPECS ==========*/

.spec-icon {
  color: theme('colors.light');
  font-size: 1.25rem;
  margin-bottom: .6rem;
}

.spec-title {
  color: theme('colors.darkBlue');
  font-weight: 600;
}

.spec-desc {
  color: theme('colors.dark600');
  font-size: .9rem;
}

ul.specs>li {
  margin-bottom: 2rem;
}

ul.specs>li:nth-child(1),
ul.specs>li:nth-child(4) {
  margin-left: 2rem;
}

.specs-img {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -100px;
  
}



@media screen and (min-width: 968px) {
  .specs-img {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 850px;
    right: 0;
    top: -1rem;
  }
  .specs-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }
}