@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: theme('colors.mainBlue');
}

/*========== Font ==========*/

h1 {
  font-family: var(--font-licorice);
  font-size: 5rem;
}

h2 {
  font-family: var(--font-licorice);

  font-size: 4rem;
  line-height: 2.5rem;
  color: theme('colors.dark');
}

h3 {
  font-family: var(--font-dmserif);
  font-size: 1.5rem;
  line-height: 1.75rem;
  color: theme('colors.darkBlue');
}

h4 {
  font-family: var(--font-dmserif);
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: theme('colors.darkBlue');
}

p {
  line-height: 2rem;
  color: theme('colors.dark600');
}

@media screen and (min-width: 968px) {
  h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 5rem;
    line-height: 3rem;
  }

  h3 {
    font-size: 1.75rem;
    line-height: 2rem;
    font-weight: 100;
  }

  h4 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 100;
  }

  p {
    font-size: 1.125rem;
    line-height: 2.2rem;
    font-weight: 300;
  }
}

/*========== Elements ==========*/

main {
  padding: 0 2rem;
}

section {
  padding: 4rem 0 2rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  background-color: theme('colors.dark');
  padding: 1rem 2rem;
  border-radius: 2rem;
  color: theme('colors.lightBlue');
  transition: .4s;
  cursor: pointer;
}

button:hover {
  background-color: theme('colors.darkBlue');
}

@media screen and (min-width: 968px) {
  main {
    max-width: 968px;
    margin: 0 auto;
  }
}

/*========== HEADER ==========*/

header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: fixed;
  background-color: theme('colors.mainBlue');
  font-family: var(--font-dmserif);
  z-index: 1000;
}

nav {
  position: fixed;
  background-color: theme('colors.mainBlue');
  top: -100%;
  left: 0;
  width: 100%;
  padding: 6rem 0 4rem;
  transition: top .4s;
}

nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

nav li {
  font-size: 1.25rem;
  text-transform: uppercase;

}

.menu-toggle,
.logo {
  cursor: pointer;

}

@media screen and (min-width: 968px) {
  header {
    background-color: theme('colors.mainBlue');
    padding: 1rem 8rem;
  }

  nav {
    top: 0;
    padding: 0;
    position: relative;
    width: fit-content;
    background-color: transparent;
  }

  nav ul {
    flex-direction: row;
    gap: 3rem;
  }

  nav li {
    font-size: 1rem;
    text-transform: capitalize;
    font-weight: 400;
    cursor: pointer;
    transition: .2s;
  }

  nav li:hover {
    color: theme('colors.light');
  }

  .menu-toggle {
    display: none;
  }
}

/*========== SPECS ==========*/

.spec-icon {
  color: theme('colors.light');
  font-size: 1.25rem;
  margin-bottom: .6rem;
}

.spec-title {
  color: theme('colors.darkBlue');
  font-weight: 600;
}

.spec-desc {
  color: theme('colors.dark600');
  font-size: .9rem;
}

ul.specs li.spec {
  margin-bottom: 2rem;
}

ul.specs  li.spec:nth-child(1),
ul.specs  li.spec:nth-child(4) {
  margin-left: 2rem;
}

.specs-img {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -100px;

}

@media screen and (min-width: 968px) {
  .specs-img {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 850px;
    right: 0;
    top: -1rem;
  }

  .specs-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }
}

/*========== ACCESSORIES ==========*/

.access-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 4rem;
  background-color: theme('colors.light');
  border-radius: 2rem;
}

.access-nav {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

@media screen and (min-width: 968px) {
  .access-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    align-items: center;

  }

  .access-nav {
    justify-content: flex-start;
  }
}

/*========== RECIPES ==========*/
.recipes-intro {
  display: flex;
  flex-direction: column;
  padding: 4rem 0;
}

.recipes-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex-wrap: wrap;
}

.recipe-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-img {
  position: absolute;

}

.recipe-info {
  background-color: theme('colors.light');
  padding: 6rem 2rem 2rem 2rem;
  margin-top: 4.5rem;
}

@media screen and (min-width: 968px) {
  .recipes-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .recipes-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}